body {
    padding-top: 20pt;
    padding-bottom: 20pt;
    width: 80%;
    margin: 0 auto;
    font-family: "Tahoma", Arial, sans-serif;
    margin: 0 auto;
    background-color: #e6e3e3;
}

#msg,
#msgend {
    color: #3d4b79;
}

#me {
    margin-left: 20pt;
}

.fini {
    text-decoration: line-through;
}

hr {
    width: 50%;
}

tr {
    border: 1px solid black;
}

.abstract {
    border-left: 1px solid gray;
    text-align: justify;
    margin: 3pt;
    padding: 5pt;
    background-color: white;
    font-family: Serif;
}

td {
    vertical-align: top;
    padding: 5pt;
    border: 1px solid black;
}

abbr {
    -webkit-text-decoration-style: dotted;
    text-decoration: underline;
    text-decoration-style: dotted;
}

abbr:hover {
    cursor: help;
}

.menulinks a {
    margin-left: 2pt;
    margin-right: 2pt;
    color: white;
}

#menu a:hover {
    color: #f4f6c3;
    text-decoration: none;
}

#menu a {
    text-decoration: none;
}

a {
    color: rgb(53, 94, 144);
    font-weight: normal;
    text-decoration: underline;

}

a:hover {
    text-decoration: none;

}

#menu {
    background-color: #6c9384;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

#clicked {
    color: #5a7562;
}

article {
    border-radius: 15pt;
    background-color: #fff;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10pt;
    padding: 20pt;
    font-size: 1rem;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    text-align: justify;
    text-justify: inter-word;
    max-width: 1200px;
    width: 90%;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
}

article:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.important {
    animation-name: important;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

h1 {
    text-align: center;
    line-height: 23pt;
    font-size: 23pt;
    margin-top: 35pt;
}

h2 {
    text-align: center;

    margin-top: 0pt;
    font-size: 15pt;
}

.code {
    font-family: Monaco, Arial, Helvetica, sans-serif;
    margin-top: 5pt;
    margin-bottom: 5pt;
}

li {
    margin-top: 5pt;
    margin-bottom: 5pt;
}

article>ul>li {
    margin-top: 10pt;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1d1d21;
        color: #dad8d8;
    }

    td {
        border: 1px solid white;
    }

    a {
        color: #a4a1d8;
        font-weight: normal;
        text-decoration: underline;

    }

    a:hover {
        text-decoration: none;
    }

    #menu {
        background-color: #3a574c;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        color: white;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    }

    #menu a:hover {
        color: #f4f6c3;
        text-decoration: none;
    }


    article {
        background-color: #2d2d34;
    }

    #msg,
    #msgend {
        color: #dfd7b1;
    }
}